* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    font-family: "Google Sans";
}

body {
    height: 100vh;
    width: 100%;
}

.header {
    width: 100%;
    height: 70px;

    display: flex;
    position: fixed;
    justify-content: space-between;

    z-index: 1;

    background-color: white;
}

.header-logo {
    width: 70px;
    height: 100%;

    text-align: center;

    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.header-logo:hover {
    background-color: #F3F6FA;
}

.header-logo img {
    width: 18.78px;
    height: 25px;

    margin-top: 22.5px;
}

.header-navigation {
    width: 160px;
    height: 100%;

    display: flex;
}

.header-pages {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    fill: #D6D6D6;

    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.header-pages i {
    display: block;

    margin: auto
}

.header-pages:hover {
    fill: #255BAB;
    background-image: linear-gradient(white, #F3F6FA, white);
}

.header-profile-photo {
    width: 70px;
    height: 100%;

    text-align: center;

    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.header-profile-photo:hover {
    background-color: #F3F6FA;
}

.header-profile-photo img {
    width: 30px;
    height: 30px;

    margin-top: 20px;

    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.welcome-search-area {
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 70px 80px 0px 80px;
    margin-bottom: 30px;
}

.welcome-banner {
    width: auto;
    height: 100%;

    display: flex;
}

.welcome-banner-title-description {
    display: grid;

    margin-left: 20px;
}

#wtitle {
    width: auto;
    height: auto;

    font-size: 24px;
    font-weight: bold;
    color: #4E4E4E;
}

#wdescription {
    width: auto;
    height: auto;

    font-size: 14px;
    color: #B1B1B1;
}

.filter-search {
    width: 300px;
    height: 40px;

    display: flex;
}

.filter-btn {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-right: 10px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    transition: ease-in-out 0.3s;
}

.filter-btn i {
    width: 18px;
    height: 18px;
    
    fill: #255BAB;
}

.filter-btn:hover {
    cursor: pointer;

    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.search {
    width: 250px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2px 2px 2px 2px;

    background-color: #F5F5F5;
    border-radius: 10px;
}

.search-input {
    width: 100%;
    height: 100%;

    border-style: none;
    padding: 0px 10px 0px 12px;

    outline: none;

    background-color: rgba(255, 255, 255, 0);
}

.search-btn {
    width: 80px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    transition: ease-in-out 0.3s;
}

.search-btn i {
    width: 18px;
    height: 18px;

    fill: #255BAB;
}

.search-btn:hover {
    cursor: pointer;

    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.cards {
    display: grid;

    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;

    padding: 0px 80px;
    margin-bottom: 20px;
}

.card-container {
    width: 360px;
    height: 250px;

    display: grid;
    text-align: center;

    cursor: pointer;
}

.card-cover {
    width: 360px;
    height: 202px;

    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 20px;

    margin-bottom: 10px;
    position: relative;

    transition: ease-in-out 0.3s;
}

.card-details {
    width: 360px;
    height: 202px;

    position: absolute;
    
    padding: 10px;

    transition: ease-in-out 0.3s;
}

.primary-title {
    font-size: 14px;
    font-weight: bold;
    color: #4E4E4E;

    cursor: pointer;
}
.secondary-title {
    font-size: 14px;
    color: #B1B1B1;
    
    cursor: pointer;
}

.menu-btn {
    width: 40px;
    height: 40px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    float: right;
    visibility: hidden;

    transition: ease-in-out 0.3s;
    fill: #255BAB;
}

.menu-btn svg {
    width: auto;
    height: 14px;
}

.menu-btn:hover {
    fill: white;
}

.card-container:hover .card-cover {
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
}

.card-container:hover .menu-btn {
    visibility: visible;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.menu-btn:hover {
    background-color: #255BAB;
}

.project-actions {
    width: 340px;
    height: 50px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 10px;

    padding: 5px;

    background-color: white;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.project-statistics {
    width: auto;
    height: 40px;

    display: flex;
    align-items: center;

    gap: 10px;

    border-radius: 5px;

    padding: 0px 15px 0px 15px;
    transition: ease-in-out 0.3s;
}

.project-statistics:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.count {
    font-size: 14px;
    font-weight: bold;
    color: #255BAB;

    cursor: pointer;
}

.text {
    font-size: 14px;
    color: #BBBBBB;

    cursor: pointer;
}

.project-action-btns {
    width: 85px;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.project-action-btn {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    fill: #D6D6D6;
}

.project-action-btn svg {
    width: 14px;
    height: auto;
}

.project-action-btn:hover {
    background-color: #255BAB;
    box-shadow: 0px 6px 12px 0px rgba(37, 91, 171, 0.3);
    fill: white;
}

.upload-btn-container {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
}

.upload-btn {
    width: 136px;
    height: 50px;

    display: flex;
    align-items: center;

    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 96;

    padding: 0px 30px 0px 30px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
    border: solid 1px #E5E5E5;

    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.upload-btn:hover {
    box-shadow: 0px 30px 60px 0px rgba(37, 91, 171, 0.7);
}

.upload-btn svg {
    width: 18px;
    height: 18px;

    fill: #255BAB;

    margin-right: 10px;
}

.upload-btn-text {
    font-size: 14px;
    font-weight: bold;
    color: #255BAB;

    cursor: pointer;
}

.see-more {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;

    margin-bottom: 70px;
}

.see-more-btn {
    width: 130px;
    height: 100%;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    background-color: #255BAB;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#see-more-text {
    font-size: 14px;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #1e498a;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.footer {
    width: 100%;
    height: 380px;

    display: flex;
    justify-content: space-between;

    position: relative;

    background-color: #255BAB;
}

.footer img {
    height: 100%;
    width: auto;
}

.footer-info {
    width: 50%;
    height: 100%;

    display: grid;
    justify-content: none;

    position: absolute;

    padding-left: 80px;
}

.footer-info-title {
    width: 100%;
    height: 30px;

    font-size: 24px;
    font-weight: bold;
    color: white;

    padding-top: 87px;
    margin-bottom: 30px;
}

.footer-info-description {
    width: 90%;
    height: auto;

    font: 14px;
    color: rgba(255, 255, 255, 0.8);

    margin-bottom: 20px;
}

.contact-info {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;

    padding-bottom: 87px;
}

.photo-name-email {
    width: auto;
    height: 60px;

    display: flex;
}

.photo-name-email img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    margin-right: 10px;
}

.myname-email {
    width: auto;
    height: 37px;

    display: grid;

    padding-top: 12px;
}

.myname-email label {
    width: auto;
    height: 20px;

    font-size: 14px;
}

.myname-email a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    transition: ease-in-out 0.3s;
}

.myname-email a:hover {
    color: white;
}

.mysocial-media {
    width: 48px;
    height: 16px;

    display: flex;
    justify-content: space-between;

    margin-top: 22px;
}

.mysocial-media i {
    fill: white;
    
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.mysocial-media i:hover {
    fill: rgba(255, 255, 255, 0.5);
}